.page-404{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.return-home-page-button{
    padding: 10px 30px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}

.return-last-page-button{
    padding: 10px 30px;
    background-color: var(--second-color);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
}

.error-page-buttons{
    display: flex;
    gap: 10px;
}