footer {
  background: center / cover no-repeat #0e2258 url(src/assets/footerbg.png);
  min-height: 350px;
  color: #fff;
  padding: 20px;
}

.footer-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 80px;
  margin: 0 auto;
  padding: 50px 0;
}

.footer-social-section {
  display: flex;
  gap: 20px;
}
.footer-social-icon {
  width: 40px !important;
  height: 40px !important;
  padding: 5px;
  background-color: none;
  border-radius: 2px;
  transition: all 300ms ease;
  cursor: pointer;
}
.footer-social-icon:hover {
  fill: var(--primary-color);
  background-color: #fff;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer-about-text {
  color: hsl(0, 0%, 80%);
  font-weight: 300;
  font-size: 15px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 15px;
  font-weight: 300;
  color: hsl(0, 0%, 80%);
  cursor: pointer;
}

.footer-list li:hover,
.footer-col-4 p:hover {
  color: #fff;
}

.footer-col-4 span {
  font-weight: bold;
}

.footer-col-4 p,
a {
  color: hsl(0, 0%, 80%);
  font-weight: 300;
  font-size: 15px;
}

.footer-hr{
    max-width: 1200px;
    margin: 0 auto;
    border-color: hsl(0, 0%, 80%);
}

.down-section-footer{
    color: hsl(0, 0%, 80%);
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    flex-wrap: wrap;
    gap: 50px;
}

.newsletter-section-footer{
  position: relative;  
}

.newsletter-section-footer input{
    padding: 10px 20px;
    background-color: transparent;
    outline: none;
    border: 1px solid hsl(0, 0%, 80%);
    color: #fff;
}


.newsletter-section-footer button{
    position: absolute;
    left: 5px;
    top: 5px;
    background-color: #fff;
    padding: 5px;
    border: none;
    outline: none;
    width: 35px;
    height: 35px;
}